Groundfloor.Core/trunk/ConfigurationSectionDesigner1.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Groundfloor" elementFormDefault="qualified" targetNamespace="urn:Groundfloor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="appServicesSection" type="tns:Groundfloor.Configuration.AppServices.AppServicesSectionCT" />
	<xs:complexType name="Groundfloor.Configuration.AppServices.AppServicesSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="ipSecurity" type="tns:Groundfloor.Configuration.AppServices.ipSecurityElementCT">
				<xs:annotation>
					<xs:documentation>The ipSecurity.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="commands" type="tns:Groundfloor.Configuration.AppServices.CommandElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The commands.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="requestTTLSeconds" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The requestTTLSeconds.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="secret" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The secret.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Groundfloor.Configuration.AppServices.HostElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Groundfloor.Configuration.AppServices.CommandElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="commands" type="tns:Groundfloor.Configuration.AppServices.CommandElementCT">
				<xs:annotation>
					<xs:documentation>The CommandElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Groundfloor.Configuration.AppServices.CommandElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="method" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The method.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The description.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Groundfloor.Configuration.AppServices.ipSecurityElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="allow" type="tns:Groundfloor.Configuration.AppServices.AllowCollectionCT">
				<xs:annotation>
					<xs:documentation>The allow.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="deny" type="tns:Groundfloor.Configuration.AppServices.DenyCollectionCT">
				<xs:annotation>
					<xs:documentation>The deny.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Groundfloor.Configuration.AppServices.AllowCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="deny" type="tns:Groundfloor.Configuration.AppServices.HostElementCT">
				<xs:annotation>
					<xs:documentation>The HostElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Groundfloor.Configuration.AppServices.DenyCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="allow" type="tns:Groundfloor.Configuration.AppServices.HostElementCT">
				<xs:annotation>
					<xs:documentation>The HostElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
