doc/New Folder With Items/groundfloor-core-v1.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wadl_documentation.xsl"?>
<application
    xmlns:xsi          = "http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation = "http://research.sun.com/wadl/2006/10 http://www.w3.org/Submission/wadl/wadl.xsd"
    xmlns:html         = "http://www.w3.org/1999/xhtml"
    xmlns:xsd          = "http://www.w3.org/2001/XMLSchema"
    xmlns              = "http://research.sun.com/wadl/2006/10">
    <doc title="360i DWOM REST API v1.0">
		<html:h2>Introduction</html:h2>
 		<html:p>
			
		</html:p>
		<html:p>
			
		</html:p>
	</doc>
	<doc title="Authentication">
		<html:h2>Authentication</html:h2>
		<html:p>
			The DWOM Web Service's authentication scheme is based on several pieces of data passed by a client over a
			secure connection (using <html:abbr title="Secure Socket Layer">SSL</html:abbr>) in the form of URI query
			parameters. The pieces of data are: an application identifier, a user identifier, a token, and finally a nonce.
			This section of the WADL will describe how these pieces of data are generated and used in conjunction with each
			other to successfully authenticate against the DWOM  Web Service.
		</html:p>
		<html:h3>Main Authentication Concepts</html:h3>
		<html:p>
			<html:strong>Application Identifier</html:strong> (app id) An app id is a client specific unique identifier.
			It is not unique per installation, but unique to a particular application. This is an assigned id, meaning a
			client cannot generate one w/out asking for one from the service, or by sending a request to
			<![CDATA[C&T-DWOM-Support@360i.com]]>.
		</html:p>
		<html:p>
			<html:strong>User Identifier</html:strong> (user id) A user id is a user specific unique identifier. More
			specifically, it is a 360i employee email address that is registered as a user with the 360i Client Portal
			Application.
		</html:p>
		<html:p>
			<html:strong>Application License / Shared Secret</html:strong> A application license, in the context of the
			DWOM API, can be considered a <html:a href="http://en.wikipedia.org/wiki/Shared_secret">shared secret</html:a>.
			It's a piece of data known only to the application client and the DWOM web service that it's authenticating against.
			It's unique to a particular client and user combination. This is an assigned value, meaning a client cannot generate
			one w/out asking for one from the service, or by sending a request to <![CDATA[C&T-DWOM-Support@360i.com]]>.
		</html:p>
		<html:p>
			<html:strong>Token</html:strong> A token is a client generated value used to authenticate a particular request.
			A token is generated by using a sha1 hash (using the
			<html:a href="http://www.faqs.org/rfcs/rfc3174.html">US Secure Hash Algorithm 1</html:a>) of three pieces of
			data concatenated together in the following order: Application Identifier, User Identifier, and a Shared Secret.
		</html:p>
		<html:p>
			<html:strong>Nonce</html:strong> Version 1.0 of the DWOM API will not use the nonce for anything other than to check
			for it's existence. The value can be anything; the only thing that matters is that it's present. It's put into place
			for future version compatibility.
		</html:p>
		<html:h3>Making an Authenticated HTTP Request</html:h3>
		<html:p>
			Every request to the DWOM API requires authentication and  should contain the following query parameters.
			If a request does not validate, a <html:a href="">401 Unauthorized</html:a> HTTP status will be returned.
			All requests must be made over a secure connection SSL.
		</html:p>
		<html:ul>
			<html:li><html:strong>auth_app_id</html:strong> - See Application Identifier above.</html:li>
			<html:li><html:strong>auth_user</html:strong> - See User Identifier above.</html:li>
			<html:li><html:strong>auth_token</html:strong> - See Token above.</html:li>
			<html:li><html:strong>auth_nonce</html:strong> - See Nonce above.</html:li>
		</html:ul>
		<html:h3>Requesting an Application Identifier and/or Application License</html:h3>
		<html:p>
			When building a client and requesting a new application identifier, or when requesting a license for a user,
			please send a request to the following email address, <![CDATA[C&T-DWOM-Support@360i.com]]>.
		</html:p>
	</doc>
	<doc title="Authentication">
		<html:h2>Overview</html:h2>
	</doc>
	<resources base="https://api.dwom.360i.com/v1">
		<!-- ************************************************** -->
		<!-- **************** ENTRY POINT RESOURCE ************ -->
		<!-- ************************************************** -->
		<resource path="" id="entry-point">
		    <doc>
				<html:p><html:strong>DWOM REST Service Entry Point</html:strong></html:p>
				<html:p>
				    This resource is the entry-point to the <html:abbr title="Digital Word of Mouth">DWOM</html:abbr>
				    <html:abbr title="Representation State Transfer">REST</html:abbr> web service that exposes
				    hypermedia links to all of the various resources available to a REST client. The DWOM web service
				    subscribes to the <html:abbr title="Hypermedia as the Engine of Application State">HATEOAS</html:abbr>
				    constraint, which defines the principle saying that a client interacts with a network application
				    entirely through hypermedia provided dynamically by application servers. Essentially, what this is saying
				    is that a client can obtain everything it needs to know about navigation the web service simply by
				    having access to this resource. For more information on HATEOAS see
				    <html:a href="http://en.wikipedia.org/wiki/HATEOAS">wikipedia</html:a>.
				</html:p>
			</doc>
			<method name="GET">
				<request>
				</request>
				<response status="200">
					<param name="ETag" style="header" type="xsd:string">
						<doc>
							<html:p>
								The ETag response-header field provides the current value of the
								entity tag for the requested variant. The entity tag MAY be used
								for comparison with other entities from the same resource.
							</html:p>
							<html:ul>
								Resources:
								<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.19">ETag Header Definition</html:a></html:li>
								<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.24">If-Match Header Definition</html:a></html:li>
								<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.26">If-None-Match Header Definition</html:a></html:li>
							</html:ul>
						</doc>
					</param>
					<representation href="#entry-point-xml" status="200" />
				</response>
				<response status="304">
					<doc>
						<html:p>
							Preconditions evaluated to true which implies that
							the client is already in sync with the resource state.
							No body will be returned.
						</html:p>
						<html:p>
							See: <html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.5">304 Not Modified</html:a>
						</html:p>
					</doc>
				</response>
			</method>
			<!-- ************************************************** -->
			<!-- **************** OUTLETS RESOURCE **************** -->
			<!-- ************************************************** -->
			<resource path="outlets" id="outlets-collection">
				<doc>
					<html:p><html:strong>Relevant Information About Outlets</html:strong></html:p>
					<html:p>
					    An outlet is a web-based publication owned by some influencer. Typically, this is how an
					    outlet fits into the <html:abbr title="Digital Word of Mouth">DWOM</html:abbr> workflow:
					</html:p>
					<html:ul>
					    <html:li>
                            An agent from the 360i DWOM team will obtain information relevant to a 360i client campaign.
					    </html:li>
					    <html:li>
                            Said agent will identify an outlet that can be used promote the information relevent to client campaign.
					    </html:li>
					    <html:li>
                            Agent will contact influencer about publishing the relevent information in hopes that the influencer
                            will post it to one of their outlets (an influencer may have one or more outlets).
					    </html:li>
					</html:ul>
					<html:div>
					    Types of outlets are:
					    <html:ul>
					        <html:li>Blog</html:li>
					        <html:li>Twitter</html:li>
					        <html:li>Profile</html:li>
					        <html:li>Web Site</html:li>
					        <html:li>Portal</html:li>
					        <html:li>Client Site</html:li>
					        <html:li>Forum</html:li>
					        <html:li>YouTube</html:li>
				        </html:ul>
					</html:div>
				</doc>
				<method name="GET">
					<doc>
						<html:p>
							<html:strong>Retrieve a Collection of Outlets</html:strong>
						</html:p>
					</doc>
					<request>
						<param name="ETag" style="header" required="false" type="xsd:string">
						</param>
						<param name="influencers" style="query" required="false" type="xsd:string">
							<doc>
								<html:p>Comma delimited list of email addresses.</html:p>
								<html:p>
									If multiple email addresses are supplied
									then the result set is a join of the associated outlets.
								</html:p>
								<html:p>
									The result set will contain only distinct records.
								</html:p>
								<html:p>
									Example: recipients=dhauenstein@gmail.com,Keith.Harris@360icom
								</html:p>
							</doc>
						</param>
						<param name="sort" style="query" required="false" type="xsd:string">
							<doc>
								<html:p>Parameter used to specify the ordering of results. Possible values:</html:p>
								<html:ul>
									<html:li>name_asc <html:em>(default)</html:em></html:li>
									<html:li>name_desc</html:li>
								</html:ul>
							</doc>
						</param>
						<param name="page" style="query" required="false" type="xsd:int">
							<doc>
								<html:p>The result set page.</html:p>
								<html:p>* Page index starts with 1.</html:p>
								<html:p>* The default is 1.</html:p>
							</doc>
						</param>
						<param name="num_per_page" style="query" required="false" type="xsd:int">
							<doc>
								<html:p>The number of results per page.</html:p>
								<html:p>* The default is 25.</html:p>
								<html:p>* The max is 100.</html:p>
							</doc>
						</param>
					</request>
					<response status="200">
						<param name="ETag" style="header" type="xsd:string">
							<doc>
								<html:p>
									The ETag response-header field provides the current value of the
									entity tag for the requested variant. The entity tag MAY be used
									for comparison with other entities from the same resource.
								</html:p>
								<html:ul>
									Resources:
									<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.19">ETag Header Definition</html:a></html:li>
									<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.24">If-Match Header Definition</html:a></html:li>
									<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.26">If-None-Match Header Definition</html:a></html:li>
								</html:ul>
							</doc>
						</param>
						<param name="X-Warning-Message" style="header" type="xsd:string">
							<doc>
								<html:p>
									Indicates that the client request was invalid, however,
									the server was able to recover using sensible defaults.
								</html:p>
								<html:ul>
									Examples:
									<html:li>num_per_page request param was out of range</html:li>
									<html:li>page request param was out of range</html:li>
								</html:ul>
							</doc>
						</param>
						<representation href="#outlets-xml" status="200" />
					</response>
					<response status="304">
						<doc>
							<html:p>
								Preconditions evaluated to true which implies that
								the client is already in sync with the resource state.
								No body will be returned.
							</html:p>
							<html:p>
								See: <html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.5">304 Not Modified</html:a>
							</html:p>
						</doc>
					</response>
					<response status="400">
						<fault href="#error_400_xml" status="400"/>
					</response>
				</method>
				<!-- ************************************************** -->
				<!-- ***************** OUTLET RESOURCE **************** -->
				<!-- ************************************************** -->
				<resource path="{outlet_id}" id="outlet-item">
					<method name="GET">
						<doc>
							<html:p>
								<html:strong>Retrieve a Single Item From the Outlets Collection</html:strong>
							</html:p>
						</doc>
						<request>
							
						</request>
						<response status="200">
							<param name="ETag" style="header" type="xsd:string">
								<doc>
									<html:p>
										The ETag response-header field provides the current value of the
										entity tag for the requested variant. The entity tag MAY be used
										for comparison with other entities from the same resource.
									</html:p>
									<html:ul>
										Resources:
										<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.19">ETag Header Definition</html:a></html:li>
										<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.24">If-Match Header Definition</html:a></html:li>
										<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.26">If-None-Match Header Definition</html:a></html:li>
									</html:ul>
								</doc>
							</param>
							<representation href="#outlet-xml" status="200" />
						</response>
						<response status="304">
							<doc>
								<html:p>
									Preconditions evaluated to true which implies that
									the client is already in sync with the resource state.
									No body will be returned.
								</html:p>
								<html:p>
									See: <html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.5">304 Not Modified</html:a>
								</html:p>
							</doc>
						</response>
					</method>
					<method name="PUT">
						<doc>
							<html:p>
								<html:strong>Update a Single Item From the Outlets Collection</html:strong>
							</html:p>
						</doc>
						<request>

						</request>
					</method>
				</resource>
			</resource>
			<!-- ************************************************** -->
			<!-- **************** CAMPAIGNS RESOURCE ************** -->
			<!-- ************************************************** -->
			<resource path="campaigns" id="campaigns-collection">
				<doc>
					<html:p><html:strong>Relevant Information About Campaigns</html:strong></html:p>
					<html:p>
					    Campaigns are a way of categorizing a communication or conversation with a particular influencer.
					</html:p>
				</doc>
				<method name="GET">
					<doc>
						<html:p>
							<html:strong>Retrieve a Collection of Campaigns</html:strong>
						</html:p>
					</doc>
					<request>
						<param name="influencers" style="query" required="false" type="xsd:string">
							<doc>
								<html:p>Comma delimited list of email addresses.</html:p>
								<html:p>
									If multiple email addresses are supplied
									then the result set is a join of the associated campaigns.
								</html:p>
								<html:p>
									The result set will contain only distinct records.
								</html:p>
								<html:p>
									Example: influencers=dhauenstein@gmail.com,Keith.Harris@360icom
								</html:p>
							</doc>
						</param>
						<param name="name" style="query" required="false" type="xsd:string">
							<doc>
								<html:p>A campaign name to filter list by.</html:p>
								<html:p>
									This parameter requires an exact match.
									If a partial campaign name is provided,
									the service will return 0 results.
								</html:p>
								<html:p>Should always return either 0 or 1 result.</html:p>
							</doc>
						</param>
						<param name="q" style="query" required="false" type="xsd:string">
							<doc>
								<html:p>A string to search for campaigns by name.</html:p>
								<html:p>
									This parameter does not require an exact match.
									Example: if q=bravo, results will show up if the name
									of the campaign is "General Bravo", "Bravo Fashion", or
									"Some Bravo Movies".
								</html:p>
								<html:p>Will return 0 or more results.</html:p>
							</doc>
						</param>
						<param name="sort" style="query" required="false" type="xsd:string">
							<doc>
								<html:p>Parameter used to specify the ordering of results. Possible values:</html:p>
								<html:ul>
									<html:li>name_asc <html:em>(default)</html:em></html:li>
									<html:li>name_desc</html:li>
								</html:ul>
							</doc>
						</param>
						<param name="page" style="query" required="false" type="xsd:int">
							<doc>
								<html:p>The result set page.</html:p>
								<html:p>* Page index starts with 1.</html:p>
								<html:p>* The default is 1.</html:p>
							</doc>
						</param>
						<param name="num_per_page" style="query" required="false" type="xsd:int">
							<doc>
								<html:p>The number of results per page.</html:p>
								<html:p>* The default is 25.</html:p>
								<html:p>* The max is 100.</html:p>
							</doc>
						</param>
					</request>
					<response status="200">
						<param name="ETag" style="header" type="xsd:string">
							<doc>
								<html:p>
									The ETag response-header field provides the current value of the
									entity tag for the requested variant. The entity tag MAY be used
									for comparison with other entities from the same resource.
								</html:p>
								<html:ul>
									Resources:
									<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.19">ETag Header Definition</html:a></html:li>
									<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.24">If-Match Header Definition</html:a></html:li>
									<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.26">If-None-Match Header Definition</html:a></html:li>
								</html:ul>
							</doc>
						</param>
						<param name="X-Warning-Message" style="header" type="xsd:string">
							<doc>
								<html:p>
									Indicates that the client request was invalid, however,
									the server was able to recover using sensible defaults.
								</html:p>
								<html:ul>
									Examples:
									<html:li>num_per_page request param was out of range</html:li>
									<html:li>page request param was out of range</html:li>
								</html:ul>
							</doc>
						</param>
						<representation href="#campaigns-xml" status="200" />
					</response>
					<response status="304">
						<doc>
							<html:p>
								Preconditions evaluated to true which implies that
								the client is already in sync with the resource state.
								No body will be returned.
							</html:p>
							<html:p>
								See: <html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.5">304 Not Modified</html:a>
							</html:p>
						</doc>
					</response>
				</method>
				<!-- ************************************************** -->
				<!-- **************** CAMPAIGN RESOURCE *************** -->
				<!-- ************************************************** -->
				<resource path="{campaign_id}" id="campaign-item">
					<method name="GET">
						<doc>
							<html:p>
								<html:strong>Retrieve a Single Item From the Campaigns Collection</html:strong>
							</html:p>
						</doc>
						<request>
							
						</request>
						<response status="200">
							<param name="ETag" style="header" type="xsd:string">
								<doc>
									<html:p>
										The ETag response-header field provides the current value of the
										entity tag for the requested variant. The entity tag MAY be used
										for comparison with other entities from the same resource.
									</html:p>
									<html:ul>
										Resources:
										<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.19">ETag Header Definition</html:a></html:li>
										<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.24">If-Match Header Definition</html:a></html:li>
										<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.26">If-None-Match Header Definition</html:a></html:li>
									</html:ul>
								</doc>
							</param>
							<representation href="#campaign-xml" status="200" />
						</response>
						<response status="304">
							<doc>
								<html:p>
									Preconditions evaluated to true which implies that
									the client is already in sync with the resource state.
									No body will be returned.
								</html:p>
								<html:p>
									See: <html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.5">304 Not Modified</html:a>
								</html:p>
							</doc>
						</response>
					</method>
					<method name="PUT">
						<doc>
							<html:p>
								<html:strong>Update a Single Item From the Campaigns Collection</html:strong>
							</html:p>
						</doc>
						<request>

						</request>
					</method>
				</resource>
			</resource>
			<!-- ************************************************** -->
			<!-- **************** MESSAGES RESOURCE *************** -->
			<!-- ************************************************** -->
			<resource path="messages" id="messages-collection">
				<doc>
					<html:p><html:strong>Messages</html:strong></html:p>
					<html:p>Define messages here...</html:p>
				</doc>
				<method name="GET">
					<doc>
						<html:p>
							<html:strong>Retrieve a Collection of Messages</html:strong>
						</html:p>
					</doc>
					<request>
						<param name="recipient" style="query" required="false" type="xsd:email">
							<doc>
								<html:p>Filter used to limit a result set of messages to those sent to a particular email address.</html:p>
							</doc>
						</param>
						<param name="sort" style="query" required="false" type="xsd:string">
							<doc>
								<html:p>Parameter used to specify the ordering of results. Possible values:</html:p>
								<html:ul>
									<html:li>date_sent_desc <html:em>(default)</html:em></html:li>
									<html:li>date_sent_asc</html:li>
								</html:ul>
							</doc>
						</param>
						<param name="page" style="query" required="false" type="xsd:int">
							<doc>
								<html:p>The result set page.</html:p>
								<html:p>* Page index starts with 1.</html:p>
								<html:p>* The default is 1.</html:p>
							</doc>
						</param>
						<param name="num_per_page" style="query" required="false" type="xsd:int">
							<doc>
								<html:p>The number of results per page.</html:p>
								<html:p>* The default is 25.</html:p>
								<html:p>* The max is 100.</html:p>
							</doc>
						</param>
					</request>
					<response status="200">
						<param name="ETag" style="header" type="xsd:string">
							<doc>
								<html:p>
									The ETag response-header field provides the current value of the
									entity tag for the requested variant. The entity tag MAY be used
									for comparison with other entities from the same resource.
								</html:p>
								<html:ul>
									Resources:
									<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.19">ETag Header Definition</html:a></html:li>
									<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.24">If-Match Header Definition</html:a></html:li>
									<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.26">If-None-Match Header Definition</html:a></html:li>
								</html:ul>
							</doc>
						</param>
						<param name="X-Warning-Message" style="header" type="xsd:string">
							<doc>
								<html:p>
									Indicates that the client request was invalid, however,
									the server was able to recover using sensible defaults.
								</html:p>
								<html:ul>
									Examples:
									<html:li>num_per_page request param was out of range</html:li>
									<html:li>page request param was out of range</html:li>
								</html:ul>
							</doc>
						</param>
						<representation href="#messages-xml" status="200" />
					</response>
					<response status="304">
						<doc>
							<html:p>
								Preconditions evaluated to true which implies that
								the client is already in sync with the resource state.
								No body will be returned.
							</html:p>
							<html:p>
								See: <html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.5">304 Not Modified</html:a>
							</html:p>
						</doc>
					</response>
				</method>
				<method name="POST">
					<doc>
						<html:p>
							<html:strong>Create a New Message</html:strong>
						</html:p>
					</doc>
					<request>
					
					</request>
				</method>
				<!-- ************************************************** -->
				<!-- **************** MESSAGE RESOURCE **************** -->
				<!-- ************************************************** -->
				<resource path="{message_id}" id="message-item">
					<method name="GET">
						<doc>
							<html:p>
								<html:strong>Retrieve a Single Item From the Messages Collection</html:strong>
							</html:p>
						</doc>
						<request>

						</request>
						<response status="200">
							<param name="ETag" style="header" type="xsd:string">
								<doc>
									<html:p>
										The ETag response-header field provides the current value of the
										entity tag for the requested variant. The entity tag MAY be used
										for comparison with other entities from the same resource.
									</html:p>
									<html:ul>
										Resources:
										<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.19">ETag Header Definition</html:a></html:li>
										<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.24">If-Match Header Definition</html:a></html:li>
										<html:li><html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.26">If-None-Match Header Definition</html:a></html:li>
									</html:ul>
								</doc>
							</param>
							<representation href="#message-xml" status="200" />
						</response>
						<response status="304">
							<doc>
								<html:p>
									Preconditions evaluated to true which implies that
									the client is already in sync with the resource state.
									No body will be returned.
								</html:p>
								<html:p>
									See: <html:a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.5">304 Not Modified</html:a>
								</html:p>
							</doc>
						</response>
					</method>
				</resource>
			</resource>
		</resource>
	</resources>
	<representation id="entry-point-xml" status="200" mediaType="text/xml; charset=UTF-8">
		<doc title="Entry Point Collection">
			<html:pre><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<Resources xmlns="http://schemas.360i.com/dwom" xmlns:xlink="http://www.w3.org/1999/xlink">
	<Resource name="Campaigns Collection Resource" xlink:href="https://api.dwom.360i.com/v1/campaigns" />
	<Resource name="Messages Collection Resource" xlink:href="https://api.dwom.360i.com/v1/messages" />
	<Resource name="Outlets Collection Resource" xlink:href="https://api.dwom.360i.com/v1/outlets" />
</Resources>]]></html:pre>
		</doc>
	</representation>
	<representation id="outlets-xml" status="200" mediaType="text/xml; charset=UTF-8">
		<doc title="Outlets Collection">
			<html:pre><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<Outlets xmlns="http://schemas.360i.com/dwom" xmlns:xlink="http://www.w3.org/1999/xlink">
	<link rel="next" xlink:href="https://api.dwom.360i.com/v1/outlets?page=3" />
	<link rel="self" xlink:href="https://api.dwom.360i.com/v1/outlets?page=2" />
	<link rel="prev" xlink:href="https://api.dwom.360i.com/v1/outlets?page=1" />
	<Collection page="2" numPerPage="3" total="326">
		<Outlet name="A Photon in the Darkness" id="107" xlink:href="https://api.dwom.360i.com/v1/outlets/107" />
		<Outlet name="A Practical Wedding" id="108" xlink:href="https://api.dwom.360i.com/v1/outlets/108" />
		<Outlet name="A Red Mind in a Blue State" id="109" xlink:href="https://api.dwom.360i.com/v1/outlets/109" />
	</Collection>
</Outlets>]]></html:pre>
		</doc>
	</representation>
	<representation id="outlet-xml" status="200" mediaType="text/xml; charset=UTF-8">
		<doc title="Outlet Item">
			<html:pre><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<Outlet xmlns="http://schemas.360i.com/dwom" xmlns:xlink="http://www.w3.org/1999/xlink">
	<Id>6674</Id>
	<Name>"Cents"able Momma</Name>
	<WebSite>http://centsablemomma.blogspot.com/</WebSite>
	<Type>Web Site</Type>
	<Parent id="2485" xlink:href="https://api.dwom.360i.com/v1/outlets/2485" />
	<Contacts>
	    <contact id="183" primary="true" xlink:href="https://api.dwom.360i.com/v1/contacts/183" />
	    <contact id="184" primary="false" xlink:href="https://api.dwom.360i.com/v1/contacts/184" />
    </Contacts>
</Outlet>]]></html:pre>
		</doc>
	</representation>
	<representation id="campaigns-xml" status="200" mediaType="text/xml; charset=UTF-8">
		<doc title="Campaigns Collection">
			<html:pre><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<Campaigns xmlns="http://schemas.360i.com/dwom" xmlns:xlink="http://www.w3.org/1999/xlink">
	<link rel="next" xlink:href="https://api.dwom.360i.com/v1/campaigns?page=3" />
	<link rel="self" xlink:href="https://api.dwom.360i.com/v1/campaigns?page=2" />
	<link rel="prev" xlink:href="https://api.dwom.360i.com/v1/campaigns?page=1" />
	<Collection page="2" numPerPage="3" total="326">
		<Campaign name="Three Sheets" id="1" xlink:href="https://api.dwom.360i.com/v1/campaigns/1" />
		<Campaign name="Coraline" id="2" xlink:href="https://api.dwom.360i.com/v1/campaigns/2" />
		<Campaign name="Starz Comic Con" id="3" xlink:href="https://api.dwom.360i.com/v1/campaigns/3" />
	</Collection>
</Campaigns>]]></html:pre>
		</doc>
	</representation>
	<representation id="campaign-xml" status="200" mediaType="text/xml; charset=UTF-8">
		<doc title="Campaign Item">
			<html:pre><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<Campaign xmlns="http://schemas.360i.com/dwom" xmlns:xlink="http://www.w3.org/1999/xlink">
	<Name>Starz Comic Con</Name>
	<Description>Starz Comic Con</Description>
	<StartDate>2011-05-30</StartDate>
	<EndDate>2011-07-30</EndDate>
	<PitchTerminationDate>2011-07-30</PitchTerminationDate>
	<Outlets>
		<Outlet id="2485" xlink:href="https://api.dwom.360i.com/v1/outlets/2485" />
		<Outlet id="3251" xlink:href="https://api.dwom.360i.com/v1/outlets/3251" />
		<Outlet id="6342" xlink:href="https://api.dwom.360i.com/v1/outlets/6342" />
	</Outlets>
	<Messages xlink:href="https://api.dwom.360i.com/v1/campaigns/43621/messages" />
</Campaign>]]></html:pre>
		</doc>
	</representation>
	<representation id="messages-xml" status="200" mediaType="text/xml; charset=UTF-8">
		<doc title="Messages Collection">
			<html:pre><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<Messages xmlns="http://schemas.360i.com/dwom" xmlns:xlink="http://www.w3.org/1999/xlink">
	<link rel="next" xlink:href="https://api.dwom.360i.com/v1/messages?page=3" />
	<link rel="self" xlink:href="https://api.dwom.360i.com/v1/messages?page=2" />
	<link rel="prev" xlink:href="https://api.dwom.360i.com/v1/messages?page=1" />
	<Collection page="2" numPerPage="3" total="326">
		<Message type="Email" id="1" xlink:href="https://api.dwom.360i.com/v1/messages/1" />
		<Message type="Twitter tweet" id="2" xlink:href="https://api.dwom.360i.com/v1/messages/2" />
		<Message type="Email" id="3" xlink:href="https://api.dwom.360i.com/v1/messages/3" />
	</Collection>
</Messages>]]></html:pre>
		</doc>
	</representation>
	<representation id="message-xml" status="200" mediaType="text/xml; charset=UTF-8">
		<doc title="Message Item">
			<html:pre><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<Message xmlns="http://schemas.360i.com/dwom" xmlns:xlink="http://www.w3.org/1999/xlink">
	<Type>Email</Type>
	<DateSent>2011-06-08T18:06Z</DateSent>
	<Subject>Here is the email subject!</Subject>
	<Content>
		<![CDATA[
			<p>For Starz new show SPARTACUS, coming out this winter. sound good to you?</p>
			<p>I can get you the file, images, etc, ideally tomorrow but it's embargoed till after 2p PT friday, would that work?</p>
			<p>If you have a chance to let me know what you think asap, i would die of happiness.</p>
			<p>Hope you're doing well, kelly!</p>
		]]\>
	</Content>
	<Campaign name="Starz Comic Con" xlink:href="https://api.dwom.360i.com/v1/campaigns/43621" />
	<Recipients>
		<Contact id="183" xlink:href="https://api.dwom.360i.com/v1/contacts/183">
			<FirstName>Brian</FirstName>
			<LastName>Clark</LastName>
			<FullName>Brian Clark</FullName>
			<EmailAddress>contact@contactform.com</EmailAddress>
			<Outlets>
				<Outlet name="A Photon in the Darkness" id="107" xlink:href="https://api.dwom.360i.com/v1/outlets/107" />
				<Outlet name="A Practical Wedding" id="108" xlink:href="https://api.dwom.360i.com/v1/outlets/108" />
			</Outlets>
		</Contact>
		<Contact id="119" xlink:href="https://api.dwom.360i.com/v1/contacts/119">
			<FirstName>Tim</FirstName>
			<LastName>Wilson</LastName>
			<FullName>Tim Wilson</FullName>
			<EmailAddress>info@262quest.com</EmailAddress>
			<Outlets>
				<Outlet name="A Red Mind in a Blue State" xlink:href="https://api.dwom.360i.com/v1/outlets/109" />
			</Outlets>
		</Contact>
	</Recipients>
	<Sender>
		<FirstName>Dave</FirstName>
		<LastName>Hauenstein</LastName>
		<FullName>Dave Hauenstein</FullName>
		<EmailAddress>dhauenstein@360i.com</EmailAddress>
	</Sender>
</Message>]]></html:pre>
		</doc>
	</representation>
	<fault id="error_400_xml" status="400" mediaType="text/xml; charset=UTF-8">
        <doc title="Bad Request">
            <html:p>
                The submitted request was not valid. The resulting error document contains an error message
                as well as valid example URIs:
            </html:p>
            <html:pre><![CDATA[<?xml version="1.0" encoding="UTF-8"?>
<error>
    
</error>]]></html:pre>
        </doc>
    </fault>
</application>
